// Print all variables that does not start with _ (95)
// Compressed to avoid whitespace being printed
{{define "server-data"}} 
  {{ .public }}
{{ end }}
{{define "content"}}<div id="root"></div><div id="root-modal"></div><div id="root-toastify"></div>{{end}}
{{define "end-of-body"}}
  {{ if .private.assets }}
  {{range .private.assets.JS}}
  <script src="{{ $.public.settings.globalAssetsURL }}{{ . }}" crossorigin="anonymous"></script>
  <script data-ad-client="ca-pub-3942558541247268" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {{end}}
  {{end}}
{{end}}
